<h2>User Details</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="row">
    <div class="col-sm-4">

      <div class="form-group" [ngClass]="{'has-error has-feedback': getError('userName')}">
        <label class="center-block">User name: </label>
        <input class="form-control" formControlName="userName">
        <span class="error" *ngIf="getError('userName')">{{getError('userName')}}</span>
      </div>

      <div class="form-group" [ngClass]="{'has-error has-feedback': getError('password')}">
        <label class="center-block">Password: </label>
        <input type="password" class="form-control" formControlName="password">
        <span class="error" *ngIf="getError('password')">{{getError('password')}}</span>
      </div>

      <div class="form-group roles" [ngClass]="{'has-error has-feedback': getError('roles')}">
        <label class="title">Roles:</label>
        <if-checkbox-list [formArray]="roles"  [elements]="allRoles"></if-checkbox-list>
        <span class="error" *ngIf="getError('roles')">{{getError('roles')}}</span>
      </div>

    </div>
    <div class="col-sm-8">

      <div class="form-group" [ngClass]="{'has-error has-feedback': getError('firstName')}">
        <label class="center-block">First name: </label>
        <input class="form-control" formControlName="firstName">
        <span class="error" *ngIf="getError('firstName')">{{getError('firstName')}}</span>
      </div>

      <div class="form-group" [ngClass]="{'has-error has-feedback': getError('lastName')}">
        <label class="center-block">Last name: </label>
        <input class="form-control" formControlName="lastName">
        <span class="error" *ngIf="getError('lastName')">{{getError('lastName')}}</span>
      </div>

      <div class="row">
        <div class="form-group col-sm-8" [ngClass]="{'has-error has-feedback': getError('emailAddress')}">
          <label class="center-block">Email address: </label>
          <input class="form-control" formControlName="emailAddress">
          <span class="error" *ngIf="getError('emailAddress')">{{getError('emailAddress')}}</span>
        </div>
        <div class="form-group col-sm-4" [ngClass]="{'has-error has-feedback': getError('birthDate')}">
          <label class="center-block">Birth date: </label>
          <input type="date" format="dd-mm-yyyy" class="form-control" formControlName="birthDate">
          <span class="error" *ngIf="getError('birthDate')">{{getError('birthDate')}}</span>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-8" [ngClass]="{'has-error has-feedback': getError('streetName')}">
          <label class="center-block">Street: </label>
          <input class="form-control" formControlName="streetName">
          <span class="error" *ngIf="getError('streetName')">{{getError('streetName')}}</span>
        </div>
        <div class="form-group col-sm-4" [ngClass]="{'has-error has-feedback': getError('houseNumber')}">
          <label class="center-block">House number: </label>
          <input type="number" class="form-control" formControlName="houseNumber">
          <span class="error" *ngIf="getError('houseNumber')">{{getError('houseNumber')}}</span>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error has-feedback': getError('city')}">
        <label class="center-block">City: </label>
        <input class="form-control" formControlName="city">
        <span class="error" *ngIf="getError('city')">{{getError('city')}}</span>
      </div>

    </div>
  </div>

  <div class="alert" [ngClass]="{'alert-success': feedback==='SUCCESS', 'alert-warning': feedback==='INVALID', 'alert-danger': feedback==='ERROR'}">
    <span *ngIf="feedback==='SUCCESS'"><strong>Success!</strong> Data saved.</span>
    <span *ngIf="feedback==='INVALID'"><strong>Validation error!</strong> Data validation failed.</span>
    <span *ngIf="feedback==='ERROR'"><strong>Error!</strong> Unknown server error.</span>
    &nbsp;
  </div>

  <nav style="margin-bottom: 30px">
    <button type="submit" [disabled]="userForm.pristine" class="btn btn-success">{{isNew? 'Add user' : 'Update'}}</button>
    <button *ngIf="!userForm.pristine" type="reset" (click)="revert()" class="btn btn-primary">Revert</button>
    <a *ngIf="userForm.pristine" routerLink="/users">
      <button type="button" class="btn btn-primary">Back</button>
    </a>
  </nav>
</form>

